html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#nprogress .bar {
  background: #ffbb00 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ffbb00, 0 0 5px #ffbb00;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
